html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh; /* Altura completa de la pantalla */
    width: 100vw; /* Ancho completo de la pantalla */
}

.image-section, .form-section {
    flex: 1; /* Divide el espacio en mitades iguales */
}

.image-section {
    position: relative;
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

.image-section img {
    position: absolute; /* Posiciona la imagen absolutamente dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la sección */
    display: block; /* Elimina el espacio blanco debajo de la imagen */
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo para los inputs */
}

.user-details {
    display: flex;
    flex-direction: column;
}

.email-input, .password-input {
    margin: 5px;
}

.person-details {
    display: flex;
    width: 100%;
    margin: 10px;
}

.name, .last-name {
    margin: 5px;
}
